{% extends "layout.html" %}
{% block content %}
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
    <h3 align="center"><img width="150" height="80" src="{{ url_for('static',filename='profile_pics/name.png') }}"></h3>
	<div class="col-md-8 sm-8 center">
        {% for user in users.items %}
        <article class="media content-section">
            <img class="rounded-circle" width="35" height="35" src="{{ url_for('static',filename='profile_pics/' +user.image_file) }}" alt="user image">
          <div class="media-body">
            <div class="article-metadata">
              &nbsp;&nbsp;&nbsp;&nbsp;<a class="name mr-2" href="{{ url_for('users.user_posts', username=user.username) }}">{{ user.username }}</a>
            </div>
          </div>
        </article>
        {% endfor %}
	</div>
    <br>
{% endblock content %}

