{% extends "layout.html" %}
{% block content %}
<br>
<br>
<h5 align="center">It's a pleasure that you have visited our blog.<br> Got any questions or suggestions for improvisation?<br>Feel free to contact us. We'd be happy to hear from you</h5>
<br>
<br>
<br>
<div>
<center>
<h3>Contact us:</h3>
<br>
<a href="https://www.instagram.com/_yakshas/"><img class=" article-img" src="{{ url_for('static', filename='profile_pics/instagram.jpeg') }}" alt="user image"></a>
&nbsp;&nbsp;&nbsp;<a href="mailto:yakshas2019.23@gmail.com"><img class=" article-img" src="{{ url_for('static', filename='profile_pics/mail.jpeg') }}" alt="user image"></a>
</center>
</div>
<br>
<br>
<br>
<br>
<br>
<table border="0" width="100%" bgcolor="#33333" height="10%">
	<tr>
		<td align="center"><font color="white">&copy; Copyright: <a href="/"><b>YAKSHAS</b></a></font></td>
	</tr>
</table>
{% endblock content %}

<a href="mailto:someone@example.com">Send email</a>
