{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ firebase_storage.prof_pic(post.author.image_file) }}" alt="user image">
      <div class="media-body">
        <div class="article-metadata">
          <a class="name mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">Posted on {{ post.date_posted.strftime('%d-%m-%Y ') }}</small>
            {% if post.author == current_user %}
                <div>
                    <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post', post_id=post.id) }}">Edit Post</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                </div>
            {% endif %}
        </div>
        <h2 class="article-title text-break">{{ post.title }}</h2>
		{% if post.image=='default.jpeg' %}
			<div></div>
		{% else %}
          <center><div class="align"><img class="col-md-6 col-sm-6" src="{{ firebase_storage.prof_pic(post.image) }}" alt="image"></div></center>
		{% endif %}
		<br>
		<p class="article-content text-break col-sm-12">{{ post.content }}</p>
		<br>
      </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel"><font color="black">Delete Post</font></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
		  <div class="modal-body">
				<font color="black">Are you sure you want to delete?</font>
		  </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                  <input class="btn btn-danger" type="submit" value="Delete">
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}